################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GistManager/ClientInfo.cs
/.vs/GistManager
/GistManager/bin/Debug
/GistManager/obj
/GistManager/.vs
/.vs
/GistManager/bin/Release
