<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GistManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GistManager.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GistTreeGridLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>{Please Set}</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>{Please Set}</value>
            </setting>
            <setting name="ClientCallbackUrl" serializeAs="String">
                <value>https://stigzler.github.io</value>
            </setting>
        </GistManager.Properties.Settings>
    </userSettings>
</configuration>